@model Election.Models.Citizens

<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("TokenView", "Home", "Citizen", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label class="col-md-2 control-label">Imie</label>
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = "Adam" })
                        @*@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Nazwisko</label>
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.LastName, new {@class = "form-control", @placeholder = "Nowak" })
                        @*@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Adres</label>
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Address, new { @class = "form-control", @placeholder = "Klonowa 142, Malinowa 132/123"
                   })
                        @*@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Miejscowość</label>
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.City, new {@class = "form-control", @placeholder = "Warszawa, Koczergi"})
                        @*@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Numer dowodu</label>
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.IdNumber, new { @class = "form-control", @placeholder = "AVG123451" })
                        @*@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Numer PESEL</label>
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.PESEL, new { @class = "form-control", @placeholder = "94092110532" })
                        @*@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })*@
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        
                        <input type="submit" value="Dalej" class="btn btn-default"/>
                    </div>
                </div>
            }
        </section>
    </div>
</div>