@model  IEnumerable<Election.Models.Candidate>

<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("ThanksPage", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Zagłosuj na swojego kandydata.</h4>
                <hr />
                foreach (var candidate in Model)
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.RadioButtonFor(m => candidate.FirstName, new { @class = "form-control" })
                        @Html.DisplayFor(m => candidate.FirstName)
                        @Html.DisplayFor(m => candidate.LastName)
                        @Html.DisplayFor(m => candidate.PoliticalGroup)
                        
                    </div>
                }

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Zagłosuj" class="btn btn-default" />
                    </div>
                </div>
            }
        </section>
    </div>
</div>